body{
    background-color: #ffccff;
    align-content: center;
    font-size: 1.2em;
    
}

h1{
    background-color: purple;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: honeydew;
    /*text-indent: 20px;*/
    margin: 0px;
    padding: 40px 20px;
    font-weight:bold;
    text-align: center;
    
}
#search_menu{
    background-color: #ff4dd2;
    padding: 10px 0px 0px 20px;
    margin-top: 15px;
}
#results{
    min-height: 200px;
}

#dict{
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

.sbtn{
    background-color: purple;
    color: #ffb3d9;   
    border-radius: 5px;
    font-size: 18px;
    
}

#lookup_word{
    height: 22px;
    width: 300px;
}

h2{
    text-decoration: underline;
}